<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=0.50, maximum-scale=1.6, initial-scale=1.0" />

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/customers.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />
</head>
<body>
<div class="container_12">
    <div data-include="header"></div>
    <div data-include="menu"></div>

    {% if (roles != 'ADMIN') %}
    <br><br>
    <div class="grid_12">
        <h1 align="center">
            You does not have permissions for this settings. <br>
            Please contact the Administrator.
        </h1>
    </div>
    {% else %}

    <div class="grid_4">
        <h3 class="list-name">List of customers:</h3>
        <div class="btn-group btn-filter-group">
            <button type="button" class="btn btn-filter btn-primary">New</button>
            <button type="button" class="btn btn-filter btn-primary">Active</button>
            <button type="button" class="btn btn-filter btn-primary">Expired</button>
            <button type="button" class="btn btn-filter btn-primary">Trash</button>
        </div>
        <div class="list-group" id="customers-list"></div>
        <button type="button" class="btn btn-warning btn-add-item add-new-item-button">Add</button>

        <div class="add-new-item-button">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <span>
                        <span aria-hidden="true">&laquo;</span>
                      </span>
                    </li>
                    <li class="active">
                        <span>1 <span class="sr-only">(current)</span></span>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="grid_8">
        <div class="alert alert-success" role="alert">
            alert
        </div>
        <div class="function-title">Customer settings: </div>
        <div class="function-settings" id="function-settings">
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <input type="text" id="_id" name="_id" hidden>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">E-mail</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customer_code" class="col-sm-3 control-label">Customer code</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="customer_code" name="customer_code">
                        </div>
                    </div>

                    <div class="form-group btn-center pull-right row">
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-success function-save-button">Save</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-danger function-cancel-button">Cancel</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-danger function-trash-button" title="Move to / Restore from Trash">Trash</button>
                        </div>
                    </div>
                    <div class="form-group btn-center pull-right row">
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-info function-create-license-button">Create new license</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-info function-change-license-button">Change last license</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-info function-increase-button" title="Increase expiration of license">Increase</button>
                        </div>
                    </div>
                    <div class="form-group btn-center pull-right row">
                        <div class="col-md-3" role="group">
                            <button type="button" class="col-xs-3 btn btn-primary function-generate-button">Generate new license</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="col-xs-3 btn btn-primary function-upload-button">Upload sysdat</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="col-xs-3 btn btn-primary function-download-button">Download last license</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>


    {% endif %}

</div>
</body>
</html>