<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/functions.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />
</head>
<body>
<div class="container_12">
    <div data-include="header"></div>
    <div data-include="menu"></div>

    <div class="grid_4">
        <h3 class="list-name">List of functions:</h3>
        <div class="list-group" id="functions-list"></div>
        <button type="button" class="btn btn-warning btn-add-item add-new-item-button">Add</button>
    </div>
    <div class="grid_8">
        <div class="function-title">Functions settings for: </div>
        <div class="function-settings" id="function-settings">
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <input type="text" id="_id" name="_id" hidden>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value" class="col-sm-3 control-label">Value</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="value" name="value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="default" class="col-sm-3 control-label">Default value</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="default" name="default" value="5">
                        </div>
                    </div>
                    <div class="form-group btn-center pull-right row">
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-primary function-report-button">Reports</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-success function-save-button">Save</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3" role="group">
                            <button type="button" class="btn btn-danger function-cancel-button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

</div>
</body>
</html>