<div class="grid_4">
    <div class="logo">
        Version: {{ version }}
    </div>
</div>
<div class="grid_5">
    <div class="current-time">
        {{ current_time }}
    </div>
</div>
<div class="grid_2">
    <div class="user-login-name">
        Dear, <span id="user-login-name">{{ username }}</span>
    </div>
</div>
<div class="grid_1">
    <div class="controls">
        <a href="#" class="logout-btn">Logout</a>
    </div>
</div>
<div class="clear"></div>

<script>
    $(".logout-btn").on('click', e => {
        console.log('logout');
        e.preventDefault();
        $.ajax({
            url: '/logout',
            type: 'POST',
            data: {},
            success: (res) => {
                window.location.replace("/");
                location.reload();
            },
            error: (res) => {
                console.error(res);
            }
        });
    });
</script>