<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>License management tool</title>
    <script src="/public/js/jquery.js"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    {% if error %}
        <h3 class="error"> {{ error }} </h3>
        <div class="login-page">
            <div class="form">
                <div style="margin-top: 18px;">
                    <form class="register" method="post" style="display: none;">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <input type="phone" name="phone" placeholder="phone"/>
                        <input type="address" name="address" placeholder="address"/>
                        <input type="email" name="email" placeholder="email"/>
                        <button type="submit">create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                    <form class="login" method="post">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">login</button>
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
        <script src="/assets/js/unauth.js"></script>
    {% else %}
        <script>
            window.location.replace("/functions");
        </script>
    {% endif %}
</body>
</html>