<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/assets/js/licenses.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/public/js/flatpickr.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/public/css/flatpickr.min.css">
</head>
<body>
<div class="container_12">
    <div data-include="header"></div>
    <div data-include="menu"></div>

{% if (roles != 'ADMIN') %}
    <br><br>
    <div class="grid_12">
        <h1 align="center">
            You does not have permissions for this settings. <br>
            Please contact the Administrator.
        </h1>
    </div>
{% endif %}

</div>
</body>
</html>