<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/bootstrap-table.js"></script>
    <script src="/assets/js/licenses.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/public/js/flatpickr.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap-table.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/public/css/flatpickr.min.css">
</head>
<body>
<div class="container_12">
    <div data-include="header"></div>
    <div data-include="menu"></div>

{% if (roles == 'GUEST') %}
    <br><br>
    <div class="grid_12">
        <h1 align="center">
            You does not have permissions for this settings. <br>
            Please contact the Administrator.
        </h1>
    </div>
{% else %}

    <div class="grid_4">
        <div class="btn-group btn-filter-group">
            <button type="button" class="btn btn-filter btn-success">New</button>
            <button type="button" class="btn btn-filter btn-primary">Active</button>
            <button type="button" class="btn btn-filter btn-warning">Expired</button>
            <button type="button" class="btn btn-filter btn-danger">Trash</button>
        </div>
        <div class="input-group search-group">
            <input type="text" class="form-control search-field" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default search-clear" type="button">Clear</button>
            </span>
        </div>
        <div class="list-group" id="licenses-list"></div>
        <!--<button type="button" class="btn btn-warning btn-add-item add-new-item-button">Add</button>-->
        <ul class="pagination justify-content-center">
            <li class="disabled">
                  <span>
                    <span aria-hidden="true">&laquo;</span>
                  </span>
            </li>
            <li class="active">
                <span>1 <span class="sr-only">(current)</span></span>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="grid_8">
        <div class="function-settings" id="function-settings">
            <a href="#" class="list-group-item" id="license-list-id-' + value._id + '" itemscope="">
                <h5 class="list-group-item-heading">
                    <span class="label label-success" itemprop="status">
                        status_text
                    </span>
                    <span class="text-center" itemprop="name">
                        value.customer_name
                    </span>
                </h5>
                <p class="list-group-item-text">
                    <span class="badge" itemprop="id" title="value._id.toUpperCase()">
                        GUID
                    </span>
                    <span itemprop="customer_code">
                        customer_code
                    </span>
                </p>
            </a>
        </div>
        <br>
        <div class="function-settings" id="function-settings1">
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <input type="text" id="_id" name="_id" hidden>
                    <label style="text-align: center; display: block;">
                        <h5>Validity of the license:</h5>
                    </label>
                    <div class="form-group">
                        <label for="from" class="col-sm-3 control-label">From</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="from" name="from">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="to" class="col-sm-3 control-label">To</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="to" name="to">
                        </div>
                    </div>
                    <label style="text-align: center; display: block;">
                        <h5>List of functions for the license:</h5>
                    </label>

                    <div class="functions-list" id="functions-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
</body>
</html>