<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <script src="/assets/js/common.js"></script>
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <script src="/assets/js/system.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />

</head>
<body>
<div class="container_12">
    <div class="grid_4">
        <div class="logo">
            Version: {{ version }}
        </div>
    </div>
    <div class="grid_5">
        <div class="current-time">
            {{ current_time }}
        </div>
    </div>
    <div class="grid_2">
        <div class="user-login-name">
            Dear, <span id="name">{{ username }}</span>
        </div>
    </div>
    <div class="grid_1">
        <div class="controls">
            <a href="#" class="logout-btn">Logout</a>
        </div>
    </div>
    <div class="clear"></div>
    <div data-include="menu"></div>
    <div class="clear"></div>

{% if (roles != 'ADMIN') %}
    <br><br>
    <div class="grid_12">
        <h1 align="center">
            You does not have permissions for this settings. <br>
            Please contact the Administrator.
        </h1>
    </div>
{% endif %}

</div>
</body>
</html>