<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/system.js"></script>
    <script src="/public/js/jquery.cookie.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/960/reset.css" />
    <link rel="stylesheet" href="/assets/css/960/text.css" />
    <link rel="stylesheet" href="/assets/css/960/960.css" />
    <!--<link rel="stylesheet" href="/assets/css/960/demo.css" />-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css" />
</head>
<body>
<div class="container_12">
    <div data-include="header"></div>
    <div data-include="menu"></div>

{% if (roles == 'GUEST') %}
    <br><br>
    <div class="grid_12">
        <h1 align="center">
            You does not have permissions for this settings. <br>
            Please contact the Administrator.
        </h1>
    </div>
{% else %}
    <div class="grid_4">
        <div class="list-group" id="system-list">
            <a href="#" class="list-group-item" id="system-edit">
                <h5 class="global-menu-item">Edit profile</h5>
            </a>
            <a href="#" class="list-group-item" id="system-password">
                <h5 class="global-menu-item">Change password</h5>
            </a>
            {% if (roles == 'ADMIN') %}
            <a href="#" class="list-group-item" id="system-list-users">
                <h5 class="global-menu-item">List of users</h5>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="grid_8">
        <div class="system-settings" id="system-settings"></div>
    </div>
{% endif %}

</div>
</body>
</html>