.user-login-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
}

.user-login-name span {
    font-weight: bold;
}
.current-time {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 15px;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
}

.nav-tabs li a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
}

body {
    /*background: gainsboro;*/
    background: #93B0B7;
    /*background: rgba(161,156,224,1);*/
    /*background: -moz-linear-gradient(45deg, rgba(161,156,224,1) 0%, rgba(158,222,155,1) 28%, rgba(161,156,224,1) 54%, rgba(201,222,155,1) 79%, rgba(217,209,240,1) 100%);*/
    /*background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(161,156,224,1)), color-stop(28%, rgba(158,222,155,1)), color-stop(54%, rgba(161,156,224,1)), color-stop(79%, rgba(201,222,155,1)), color-stop(100%, rgba(217,209,240,1)));*/
    /*background: -webkit-linear-gradient(45deg, rgba(161,156,224,1) 0%, rgba(158,222,155,1) 28%, rgba(161,156,224,1) 54%, rgba(201,222,155,1) 79%, rgba(217,209,240,1) 100%);*/
    /*background: -o-linear-gradient(45deg, rgba(161,156,224,1) 0%, rgba(158,222,155,1) 28%, rgba(161,156,224,1) 54%, rgba(201,222,155,1) 79%, rgba(217,209,240,1) 100%);*/
    /*background: -ms-linear-gradient(45deg, rgba(161,156,224,1) 0%, rgba(158,222,155,1) 28%, rgba(161,156,224,1) 54%, rgba(201,222,155,1) 79%, rgba(217,209,240,1) 100%);*/
    /*background: linear-gradient(45deg, rgba(161,156,224,1) 0%, rgba(158,222,155,1) 28%, rgba(161,156,224,1) 54%, rgba(201,222,155,1) 79%, rgba(217,209,240,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a19ce0', endColorstr='#d9d1f0', GradientType=1 );*/
}

.list-name {
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    font-weight: bold;
}

.function-title {
    /*text-align: center;*/
    padding: 15px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
}
.global-menu-item {
    margin-bottom: 0;
    font-weight: bold;
}

.btn {
    width: 150px;
}

.btn-center {
    text-align: center;
}

.list-group-item.active,
.list-group-item.active:focus {
    background: #337ab7;
    color: white;
    border-color: transparent;
}

.payment-form {
    background: #dfe8f6;
}

.list-group-item {
    background: #dfe8f6;
}

.panel-default {
    border-color: black;
    border-width: 2px;
}

.form-control {
    border-color: black;
    border-width: 1px;
    font-size: 16px;

}

.btn-filter {
    width: 25%;
    margin-left: 0px !important;
}
.btn-filter-group {
    width: 100%;
    vertical-align: baseline;
    margin-left: 0px;
}
.btn-add-item {
    width: 100%;
    margin-left: 0px !important;
}
[itemprop="name"] {
    position: absolute;
    width: 75%;
}
[itemprop="customer_code"] {
    float: right;
}
[itemprop="id"] {
    font-size: 8px;
}

.search-group {
    width: 100%;
    margin-bottom: 5px;
}
.search-field {
    border-color: rgb(204, 204, 204);
}
.search-clear {
    width: 60px;
}

.list-group {
    margin-bottom: 5px;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination > li {
    margin-left: 0px;
}